.checkBoxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  border: 2px solid #1D9BF0;
  border-radius: 50%;
  cursor: pointer;
}

.checkBoxText {
  font-family: 'Roboto';
  font-style: normal;
  margin-left: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.017em;
  color: #8B98A5;
}

.checkBoxItem {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1D9BF0;
  font-size: 15px;
}