.button {
  color: #1D9BF0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  min-width: 120px;
  font-size: 16px;
  line-height: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  letter-spacing: -0.017em;
  background-color: transparent;
  border: none;
  border: 2px solid #1D9BF0;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}